{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load otree i18n %}

{% block content %}
<html dir="rtl" lang="ar">

<h1> {{ trans 'Questionnaire' }}</h1>

<div class="container box">
  <ol>

    <li>
      {{ trans 'How would you rate your understanding of the instructions you were given in this game?' }}
      {{formfield player.Q2_1 label=""}}

    </li>
        <li>
          {{ trans 'How much do you trust that the people in your group put money in the common account?' }}
          {{formfield player.Q2_2 label=""}}

        </li>
  </ol>
<!-- put here the post questionnaire -->
</div>

<div class="container">
  <div class="row">
    &nbsp;
  </div>
  <div class="row" style="padding-left:135px;">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
      <button name="btn_submit" value="True" class="btn btn-outline-primary btn-large">
        <span style="font-size:16pt">{{ trans 'Continue' }}</span>
      </button>
    </div>

  </div>
 </div>


 {{ endblock }}
{{ block styles }}
<style type="text/css">
</style>
<link href="{{ static 'mystyle.css' }}" rel="stylesheet">
<style type="text/css">
</style>
{{ endblock }}