{{ extends "global/Page.html" }}
{{ load staticfiles otree }}


{{ block content }}
<html dir="rtl" lang="ar">

</html>


<h1> Results </h1>

<div class="container box">
		<p> <b>Choice #{{row}}</b> was randomly selected for payment.</p>
		<p>For this choice, you chose {{choice}}</p>
				{{ if choice == "A"}}

	<center>
	<table class="table table-borderless">
		<tr>
		<td style="text-align:center">
			{{Payoff_time}} tokens in 2 weeks
		</td>
	</table>
	</center>
		{{ else }}
	<center>
	<table class="table table-borderless">
		<tr>
			<td style="text-align:center">
				{{Payoff_time}} tokens in 4 weeks
			</td>
	</table>
	</center>
	{{ endif }}
	
<p> Thus, you earn <b>{{Payoff_time}} </b> that wil be paid to you in <b>{{ if choice == "A"}} 2 weeks {{else}} 4 weeks
	{{endif}}.</b></p>
</div>


<div class="container">
	<div class="row">
		&nbsp;
	</div>
	<div class="row" style="padding-left:130px;">
		<div class="col-md-10">

		</div>
		<div class="col-md-2">
			<button class="otree-btn-next btn btn-outline-primary">
			  <span style="font-size:16pt">Continue</span>
			</button>
		</div>
	</div>
</div>


{{ endblock }}

{{ block styles }}

<link href="{{ static 'mystyle.css' }}" rel="stylesheet">

{{ endblock }}