{{ block title }}
{{ trans 'Task'}}
{{ endblock }}
{{ block content }}
<html dir="rtl" lang="ar">

<div class="container box">


<p>{{ trans 'Reorder now the words in the boxes below to obtain the description of an object.'}}</p>

{{ if treatment == "identity" }}
<p>{{ trans 'Members of your group are involved in the same task, but with a different sentence referring to the same object. All sentences put together give you an accurate description of this object.'}}</p>

{{endif}}

<p>
  {{ trans 'The destination box turns green when the right words are dragged. The destination box turns red when the wrong words are dragged.' }}</p>
<p>
  {{ trans 'If you do a mistake just press the button Retry. When all words are correctly positioned a button will appear: click on it to continue.' }}</p>

  <center><button type="button" onClick="window.location.reload();"
      class="btn btn-outline-secondary btn-large">{{ trans 'Retry' }}</button></center>
  <br>
{{ if treatment == "identity" }}

<table class="table" style="font-size:12pt">
  <thead>
    <tr>   
      <th scope="col">
        <div id="ans2">{{if id == 1 }} {{ trans 'can be' }} {{ endif }}</div>
        <div id="ans2">{{if id == 2 }} {{ trans 'can' }} {{ endif }}</div>
        <div id="ans2">{{if id == 3 }} {{ trans 'can' }} {{ endif }}</div>
        <div id="ans2">{{if id == 4 }} {{ trans 'makes' }} {{ endif }}</div>
      </th>
      <th scope="col">
        <div id="ans1">{{if id == 1 }} {{ trans 'It' }} {{ endif }}</div>
        <div id="ans1">{{if id == 2 }} {{ trans 'It' }} {{ endif }}</div>
        <div id="ans1">{{if id == 3 }} {{ trans 'It' }} {{ endif }}</div>
        <div id="ans1">{{if id == 4 }} {{ trans 'It' }} {{ endif }}</div>
      </th>
      <th scope="col">
        <div id="ans4">{{if id == 1 }} {{ trans 'warm.' }} {{ endif }}</div>
        <div id="ans4">{{if id == 2 }} {{ trans 'transparent.' }} {{ endif }}</div>
        <div id="ans4">{{if id == 3 }} {{ trans 'salty.' }} {{ endif }}</div>
        <div id="ans4">{{if id == 4 }} {{ trans 'go away.' }} {{ endif }}</div>
      </th>
      <th scope="col">
        <div id="ans3">{{if id == 1 }} {{ trans 'cold or' }} {{ endif }}</div>
        <div id="ans3">{{if id == 2 }} {{ trans 'be' }} {{ endif }}</div>
        <div id="ans3">{{if id == 3 }} {{ trans 'be' }} {{ endif }}</div>
        <div id="ans3">{{if id == 4 }} {{ trans 'thirst' }} {{ endif }}</div>
      </th>
    </tr>
  </thead>

{{else}}

<table class="table" style="font-size:12pt">
  <thead>
  <tr>
    <th scope="col">
      <div id="ans2">{{if id == 1 }} {{ trans 'can be' }} {{ endif }}</div>
      <div id="ans2">{{if id == 2 }} {{ trans 'can' }} {{ endif }}</div>
      <div id="ans2">{{if id == 3 }} {{ trans 'can' }} {{ endif }}</div>
      <div id="ans2">{{if id == 4 }} {{ trans 'makes' }} {{ endif }}</div>
    </th>
    <th scope="col">
      <div id="ans1">{{if id == 1 }} {{ trans 'Water' }} {{ endif }}</div>
      <div id="ans1">{{if id == 2 }} {{ trans 'Water' }} {{ endif }}</div>
      <div id="ans1">{{if id == 3 }} {{ trans 'Water' }} {{ endif }}</div>
      <div id="ans1">{{if id == 4 }} {{ trans 'Water' }} {{ endif }}</div>
    </th>
    <th scope="col">
      <div id="ans4">{{if id == 1 }} {{ trans 'warm.' }} {{ endif }}</div>
      <div id="ans4">{{if id == 2 }} {{ trans 'transparent.' }} {{ endif }}</div>
      <div id="ans4">{{if id == 3 }} {{ trans 'salty.' }} {{ endif }}</div>
      <div id="ans4">{{if id == 4 }} {{ trans 'go away.' }} {{ endif }}</div>
    </th>
    <th scope="col">
      <div id="ans3">{{if id == 1 }} {{ trans 'cold or' }} {{ endif }}</div>
      <div id="ans3">{{if id == 2 }} {{ trans 'be' }} {{ endif }}</div>
      <div id="ans3">{{if id == 3 }} {{ trans 'be' }} {{ endif }}</div>
      <div id="ans3">{{if id == 4 }} {{ trans 'thirst' }} {{ endif }}</div>
    </th>
  </tr>
  </thead>
{{endif}}

  <tbody>
    <tr>
      <td>
        <div id="drop1">
        </div>
      </td>
      <td>
        <div id="drop2">
        </div>
      <td>
        <div id="drop3">
        </div>
      </td>
      <td>
        <div id="drop4">
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="row">
    &nbsp;
  </div>
  <div class="row" style="padding-left:135px;">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-primary btn-large" id="continue">
        <span style="font-size:16pt">{{ trans 'Continue' }}</button>
          </span>
    </div>
    </div>
    </div>


</div>
</html>
{{ endblock }}

{{block script}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script>
  var arr = [];
  var countOfItems = 0;

  $("#ans1, #ans2, #ans3, #ans4").draggable({
    revert: "invalid",
    cursor: "move"
  });

  $("#drop1, #drop2,#drop3,#drop4").droppable({
    greedy: true,
    drop: function (event, ui) {
      var target = event.target.id;
      var source = ui.draggable.attr('id');

      console.log(source);
      console.log(typeof source);
      console.log(target);

      if (source == "ans1" && target == "drop1") {
        $("#" + target).addClass("right")
        console.log("OK")
        countOfItems++;
      } else {
        if (source == "ans2" && target == "drop2") {
          $("#" + target).addClass("right")
          countOfItems++;

        } else {

          if (source == "ans3" && target == "drop3") {
            $("#" + target).addClass("right")
            countOfItems++;

          } else {

            if (source == "ans4" && target == "drop4") {
              $("#" + target).addClass("right")
              countOfItems++;

            } else {
              $("#" + target).addClass("wrong")
            }
          }
        }

      }

      if (countOfItems == 4) {
        console.log(countOfItems)
        $("#continue").show();
      }
    }
  });

  jQuery(document).ready(function ($) {
    $("#continue").hide();
  });

        // arr.push(
        //     {
        // 'key': div,
        // 'val': element
        // });

    // $("#" + element).addClass('selected');

    // //if div with class name 'someclass' is greater than the required no of div
    // if ($('div.selected').length > countOfItems) {
    // var count = false;
    // $.each(arr, function(i, obj) {
    // if ((obj.val == "ans1" && obj.key == "drop1") || (obj.val == "ans2" && obj.key == "drop2")) {
    // count = true;
    // }
    // });

    // if (count) {
    // console.log("Success")
    // }
    // else
    // {
    // console.log("Failure")
    // }
    // }
    // }
    // });

</script>
{{ endblock }}

{{ block styles }}
<style>
  #drop1,
  #drop2,
  #drop3,
  #drop4 {
    float: left;
    width: 180px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px rgb(2, 2, 2);
  }

  #ans1,
  #ans2,
  #ans3,
  #ans4 {
    float: left;
    width: 180px;
    height: 40px;
    margin: 10px;
    padding: 10px;
  }

  .right {
    background: rgb(113, 255, 132);

  }

  .wrong {
    background: rgb(255, 75, 114)
  }
</style>

<link href="{{ static 'mystyle.css' }}" rel="stylesheet">
{{ endblock }}